[package]
name = "biosphere_py"
version = "0.3.0"
edition = "2021"

[lib]
name = "biosphere"
crate-type = ["cdylib"]

[package.metadata.maturin]
name = "biosphere"

[dependencies]
numpy = "0.16"
biosphere = { path = "../" }
ndarray = "0.16"
pyo3 = {version = "0.16", features = ["extension-module"]}