[package]
name = "biosphere_py"
version = "0.4.1"
edition = "2021"

[lib]
name = "biosphere"
crate-type = ["cdylib"]

[package.metadata.maturin]
name = "biosphere"

[dependencies]
numpy = "0.26"
biosphere = { path = "../" }
ndarray = "0.16"
pyo3 = {version = "0.27", features = ["extension-module"]}