on:
  push:
    branches: [ main ]
  pull_request:

name: CI

jobs:

  test:
    name: Cargo test (${{ matrix.os }})
    runs-on: ${{ matrix. os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] # , windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v5
    - name: Build
      run: cargo build --release --verbose --examples
    - name: Test
      run: cargo test --release
  
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check  # Also fmt subdirectories
    
  package:
    name: Package (rust)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: package

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add clippy
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all -- -D warnings

  cargo-bench:
    name: Cargo Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      # Run everything in a single shell. This way criterion remembers previous results
      # and can print comparisons.
      - name: Run benchmarks
        run: |
          git checkout main
          cargo bench
          git checkout ${{ github.head_ref }}
          cargo bench
        shell: bash -lxeu {0}

  asv-bench:
    name: ASV Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install asv
        run: |
          pip install --upgrade asv
      
      - name: Run benchmarks
        run: |
          cd biosphere-py
          asv machine --machine github --yes
          asv continuous origin/main HEAD -e --factor 1.05 --machine github

  
  python-tests:
    name: Python tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:

      - uses: actions/checkout@v5

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 'stable'

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build wheel
        run: |
          pip install --upgrade maturin
          maturin build --release -m biosphere-py/Cargo.toml
      - name: Install wheel
        run: |
          pip install numpy pytest
          pip install --force-reinstall --no-index --find-links biosphere-py/target/wheels/ biosphere
      - name: Run tests
        run: pytest biosphere-py/tests